.header {
    height: 100px;
    width: 100%;

    &__container {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__logo {
        font-size: 26px;
    }

    &__text {
        max-width: 230px;
        font-size: 12px;
        line-height: 18px;
    }
}