@import 'additional/variables';
@import 'additional/mixins';
@import 'additional/fonts';
@import 'components/currency-converter';
@import 'components/header';

html,
body {
    position: relative;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    background-color: $black;
}

html {
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
    color: $yellow;
    line-height: 120%;
}

._container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

h1 {
    margin: 0;
}